@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/PT_Sans-Narrow-Web-Bold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/PT_Sans-Narrow-Web-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Princess Sofia";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/PrincessSofia-Regular.ttf") format("ttf");
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #efe9e9;
    background-color: #000000;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
    color: #000000;
}



/*Pages*/
.main-header{
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.page-header {
    color: #FFEBEB;
    background-color: #000000;
    margin: 0 auto;

}

.navigation {

    display: flex;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.navigatiom-link {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 33px 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #F8EEEE;
    text-decoration: none;
    display: inline-block;
}


.navigation-logo {
    width: 152px;
    margin-right: 60px;
}

.navigatiom-user {
    max-width: 250px;
    margin-left: auto;
}

.navigatiom-user .navigatiom-link {
    min-width: 24px;
    min-height: 24px;
}

.main-inner {
    background: url(../img/front_2.png), #FFFFFF;
    background-repeat: repeat;
}

.page-container {
    width: 940px;
    margin: 0 auto;
}

/*Logotip*/
.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.main-container {
    flex-grow: 1;
    padding-top: 85px;
    padding-bottom: 60px;
}

.advantages {
    margin-bottom: 74px;
}

/*List*/
.advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

/*Item*/
.advantages-item {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Title */
.advantages-title {
    margin-top: 0;
    margin-bottom: 22px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

/* Descriptions*/
.advantages-text {
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFEBEB;
}
/* Index columns*/
.block-one,
.block-second {

    background: url("../img/font.jpg"), #FFFFFF;
    background-repeat: repeat;
    border-radius: 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding:  70px;
}
.block-second{
    margin-top:70px;
}
.news{
width: 340px;
}
.gallery{
    width: 300px;
}
.contacts{
    width: 398px;
}
.appointmant{
    width: 398px;
}
.news,
.news-about {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.news-title{
    font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 42px;

text-transform: uppercase;
color: #000000;
}
.news-list{
    list-style-type: none ;
}
.news-about{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #000000;
}

.page-footer {
    background: url("../img/footer.jpg"), #FCFCFC;
    background-repeat: repeat;
    border-radius: 0px;
}

.news-date {
      font-weight: 400;
    font-size: 14px;
    line-height: 24px;
     text-align: center;
    color: #000000;

}


.appointmant-form{
    display: grid;
    grid-template-columns: 140px 140px ;
    gap: 10px;

}
.field-group{
    display: flex;
    flex-direction: column;
    margin:0;
}

.field-group label,
.field-group input{
  display: block;
  width: 100%;
  box-sizing: border-box;
}



.button-form{
    grid-column: 1/-1;
    justify-items: start;
}
.appointmant-form-phone{
    grid-column: 1/-1;
    justify-items: start;
}
.appointmant-form-name{
    grid-column: 1/-1;
    justify-items: start;
}

/*Title*/


.contacts-subtitle {
        font-weight: 700;
    font-size: 14px;
    line-height: 24px;
      text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.contacts-address,
.contacts-shedule-item,
.appointmant p,
.contacts-phone {
      font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.page-footer a,
.page-footer p {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
      text-transform: uppercase;
    color: #0B0808;

}
.footer-contacts{
    width:400px;;
    padding: 0px;
}
.news-letter{
    width: 150px;
}
.footer-social{
    width: 181px;
}
.page-footer-title{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #0B0808;
}

.catalog-filter-title {
   
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
/*Breadcrumbs*/
.breadcrumbs{
    display: flex;
    margin:0;
    padding: 0;
    color:#000000;
    list-style-type: none;
}
/*Link*/
.breadcrumbs-link {
    margin-right: 32px;;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;

}

.control-label {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
       text-transform: uppercase;
    color: #000000;

}

.product-card-price {
       font-weight: 400;
    font-size: 14px;
    line-height: 18px;
       text-transform: uppercase;
    color: #000000;
}

.button-all{
  display: inline-block;
width: auto;
height: 24px;
padding:28px 10px;
text-decoration: none;
vertical-align: middle;
text-align: center;
background: #000000;
border-radius: 5px;
text-decoration: none;
color: #efe9e9;
}
.button{
    display: inline-block;
    width: 169px;
    height: 24px;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    background: #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #efe9e9;
}
.button-form{
    display:inline-block;
    width: auto;
height: 44px;
padding: 10px 100px;
font-size: 14px;

text-transform: uppercase;


background: #000000;
border-radius: 0px;

background: #000000;
border-radius: 5px;
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #FDF5F5;
} 
.news {
    width: 340px;
}

.gallery {
    width: 300px;
}

.contacts {
    width: 395px;
}

.appointmant {
    width: 300px;
}

.page-footer-container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 940px;
    margin: 0 auto;
}
.footer-social-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contacts {
    width: 190px;
    
}
.news-letter{
  width: 50px;   
}
.footer-social-item{
   
width: 43px;
height: 43px;
background: #000000;
border-radius: 0px;

}

.footer-social-item {
    width: 43px;
    text-align: center;
}
.newsletter-button{
    
width: 181px;
height: 44px;
background: #000000;
border-radius: 5px;
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #FDF5F5;

}
.about-text{
    padding-left:14px;
}

/*catalog*/
.navigation-logo {
    width: 152px;
    margin-right: 70px;

}

.catalog-products {
    display: flex;
}

.catalog-filter {
    width: 207px;
    margin-right: 40px;
}

.catalog-right-column {
    width: 700px;
}
.control-label{
    font-weight: 700;
}

.sorting-type{
    display:flex;
    color: #000000;
    background-color: #F8EEEE;
}
.sorting-type .button{
    width: 56px;
    height: 44px;
    margin-right: auto;
}
/*Item*/
.product-card{
    background-color: #FFFFFF;
}

.news-date{
    display: block;
  position: relative;
  left: -100px;
  margin-top: 20px;
  margin-bottom: 24px;

}
.slider-button {
   
width: 140px;
height: 44.51px;
background: #000000;
border-radius: 0px;
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
padding: 0;
text-transform: uppercase;
margin-right: 15px;
margin-top: 50px;
color: #FFFFFF;
}
.slider-next{
    margin-right: 0;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 740px;
    list-style-type: none ;

    margin: 0;
    padding: 0;
}
/*Item*/
.product-card{
    background-color: #efe9e9;
    width: 210px;
    height: 410px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    
align-items: center;
padding-bottom: 0;
}
.product-card::nth-child(3n){
    margin-right:0;
}
.product-card-content{
    padding: 20px;
    display: flex ;
    flex-direction: column;
   justify-content: space-between;

    flex-grow: 1;
}
.product-card-button{
    position: relative;
 bottom: 0;
}
/*Link*/
.product-card-link{
    text-decoration: none;
}
/*Title*/
.product-card-link{
    display: flex;
    flex-direction: column;
}
/*Price*/
.product-card-price{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    color: rebeccapurple;
    line-height: 29px;
}
.product-card-title{
    margin-top: 16px;
    margin-bottom: 8px;
}
.
/*Slider*/

.slider-butto:focus{
    background-color: darkblue;
    outline: 2px solid blueviolet;
}
.slider-button:hover{
    background-color: darkblue;
    color:darkorange;
}
.slider-pagination{
    display: flex;
    flex: wrap;
    justify-content: center ;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider-pagination-item{
    margin:0 4px;
}
.slider-pagination-button{
    width: 8px;
    height: 8px;
    margin: 0%;
    padding: 0%;
    background-color: rgb(152, 157, 162);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.slider-pagination-button:focus{

    background-color: rgb(152, 157, 162);
    outline: none;
}
.slider-pagination-button:hover{

    background-color: rgb(150, 183, 217);
   
}

.slider-pagination-button-current{
    
    background-color: rgb(40, 40, 41);
}
.slider-image{
    display: block;
}
.slider-wrapper{
    position: relative;
}


/*Form decor*/
.info{
    margin-left: 0;
    padding: 0%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
  
  
    background-image: url("../img/info.png");
    background-repeat: no-repeat;
    background-position: center;
}
.form-label{
    display: flex;
    justify-content: left;
  
}
.info2{
    margin-left: 45px;
}
.field{
    margin:0;
    padding: 8px 14px;
    font:inherit;
    background-color: #FCFCFC;
    border: 2px solid black;
}
button:hover, a:hover{
    color: coral;
}
.newsletter-email{
    flex-grow: 1;
}
.page-header-logo-1{
    padding-top: 25px;
}

  /* Breadcrumbs */
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: #242424;
    list-style-type: none;
  }
  
  /* Item */
  .breadcrumbs-item {
    position: relative;
    margin-right: 32px;
    list-style-type: none;
  }
  
  .breadcrumbs-item::after {
    position: absolute;
    top: 7px;
    right: -20px;
    width: 8px;
    height: 8px;
    background-color: #242424;
    content: "";
    transform: rotate(45deg);
  }
  
  .breadcrumbs-item:last-child::after {
    content: none;
  }
  
  /* Link */
  .breadcrumbs-link {
    line-height: 22px;
    color: inherit;
  }
  
  .catalog-products {
    display: flex;
  }
  
  /* Filter */
  .catalog-filter {
    width: 220px;
    margin-right: 20px;
  }
  
  /* Group */
  .catalog-filter-group {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
  }
  
  .catalog-right-column {
    width: 700px;
  }
  
  /* Title */
  .catalog-filter-title {
    margin-bottom: 22px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
  }
  
  /* Range */
  .range {
    max-width: 220px;
    overflow: auto;
    padding-top: 8px;
  }
  
  .range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #242424;
    border-radius: 2px;
  }
  
  .range-bar {
    position: absolute;
    height: 4px;
    background-color: #af7842;
  }
  
  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #242424;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background-color: #dbb590;
  }
  
  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #dbb590;
  }
  
  .toggle-min {
    top: -8px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }
  
  .range-wrapper-inputs {
    display: flex;
    justify-content: center;
  }
  
  .catalog-filter-label {
    display: flex;
    margin-right: 5px;
    line-height: 22px;
  }
  
  .range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
  }
  
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  /* Control */
  .control {
    position: relative;
    display: block;
    padding-left: 36px;
    line-height: 22px;
  }
  
  /* Mark */
  .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #242424;
  }
  
  .control-input:focus ~ .control-mark,
  .control-input:focus ~ .control-mark,
  .control-input:active ~ .control-mark,
  .control-input:active ~ .control-mark {
    border-color: #AF7842;
  }
  
  
  
  .control:hover .control-mark{
    border-color: #814b18;
  }
  
  
  .control-input:disabled + .control-mark {
    border-color: #242424;
  }
  
  /* Checkbox */
  .control-input[type="checkbox"]:checked + .control-mark::before,
  .control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 12px;
    height: 2px;
    background-color: #242424;
    content: "";
  }
  
  .control-input[type="checkbox"]:checked + .control-mark::before {
    transform: rotate(45deg);
  }
  
  .control-input[type="checkbox"]:checked + .control-mark::after {
    transform: rotate(-45deg);
  }
  
  /* Radio */
  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }
  
  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
  }
  
  
  
  /* Label */
  .control-label {
    line-height: 22px;
    font-weight: 700;
  }
  
  /* List */
  .catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .sorting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding: 16px;
    color: #000000;
    background-color: #ffffff;
  }
  
  .sorting-type {
    margin-right: auto;
  }
  
  .select {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
    margin-right: auto;
  }
  
  /* Control */
  .select-control {
    width: 100%;
    padding: 8px 14px;
    padding-right: 48px;
    font: inherit;
    font-weight: 700;
    background-color: #ffffff;
    border: 2px solid #242424;
    background-image: url("images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
  }
  
  .select-control:hover,
  .select-control:focus,
  .select-control:active {
    border-color: #af7842;
  }
  
  .select-control:focus,
  .select-control:active {
    outline: 2px solid #dbb590;
  }
  
  .card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 44px;
    background-color: #ffffff;
  }
  
  .card-grid-toggle:hover {
    background-color: #814b18;
  }
  
  .card-grid-toggle:focus,
  .card-grid-toggle:active {
    outline: 2px solid #dbb590;
  }
  
  .card-grid-toggle:hover svg {
    fill: #ffffff;
  }
  
  .card-grid-toggle svg {
    fill: #000000;
  }
  
  .card-grid-toggle-current {
    background-color: #000000;
  }
  
  .card-grid-toggle-current:hover {
    background-color: #000000;
  }
  
  .card-grid-toggle-current svg {
    fill: #ffffff;
  }
  
  .card-grid-toggle-current:hover svg {
    fill: #ffffff;
  }
  
  /* LIST */
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    gap: 20px;
    list-style-type: none;
  }
  
  /* Card */
  
  .product-card {
   
    background-color: #ffffff;
  }
  
  /* Image */
  
  .product-card-image-link {
    grid-column: 1 / -1;
    background-color: #f6f6f6;
  }
  

  .pagination-container {
    display: flex;
    padding: 16px;
    background-color: #ffffff;
  }
  
  /* Pagination */
  
  .pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* Item */
  .pagination-item {
    margin-bottom: 5px;
  }
  
  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }
  
  /* Link */
  
  .pagination-link {
    display: block;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 44px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
  }
  
  .pagination-link:hover {
    background-color: #814b18;
  }
  
  .pagination-link:focus,
  .pagination-link:active {
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
  }
  
  .pagination-current {
    color: #242424;
    background-color: #ffffff;
  }
  
  .pagination-prev {
    background-image: url("images/arrow-left.svg");
    background-position: 20px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 18px;
  }
  
  .pagination-next {
    background-image: url("images/arrow-right.svg");
    background-position: 20px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 18px;
  }
  
  .pagination-disabled {
    background-color: #595959;
  }
  
  /* Show more */
  .pagination-show-more {
    margin-left: auto;
    max-width: 170px;
  }
  
  /* Without background */
  .pagination-clear {
    margin-top: 24px;
    padding: 0;
    background-color: transparent;
  }
  
  .popover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    box-sizing: border-box;
    width: 300px;
    padding: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #242424;
    background-color: #ffffff;
    min-height: 186px;
    box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  }
  
  .popover-open {
    display: block;
  }
  
  .popover-empty {
    width: 312px;
  }
  
  .popover-cart {
    width: 420px;
  }
  
  .popover-auth {
    width: 440px;
  }
  
  .popover-user {
    width: 300px;
  }
  
  .popover-close-button {
    position: absolute;
    top: 0;
    right: 0;
  
    width: 72px;
    height: 70px;
  }
  
  .popover-cart .popover-close-button {
    padding-left: 44px;
    background-image: url("images/cart-popover.svg");
    background-repeat: no-repeat;
    background-position: 27px center;
  }
  
  .popover-content {
    height: 100%;
  }
  
  .popover-empty .popover-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  
  .popover-main-text {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }
  
  .popover-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
  }
  .buttom5{
    display: block;
    height: 42px;
    margin-top: 20px;
  }
  .elmnt{
    
    background-color: #F8EEEE;
    width: 20.3px;
    height: 20.32px;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
    transform: rotate(45deg);
  }
  



